{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Bienvenido a la pagina de control del estado de las presas en el pais</h1>
      <a name="" id="" class="btn btn-danger" href="{% url 'hacerNota'%}" role="button" >Crear nueva presa</a>
      <a name="" id="" class="btn btn-info" href="{% url 'usuarios'%}" role="button" >gestionar niveles de las presas </a>
    </div>
  </div>
 {% endblock %}