{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %}
<h4>
Somos una entidad encargada de la gestión de presas en el país. Nuestra misión es garantizar la seguridad de las presas y embalses en Cuba. Desde nuestra creación en 1990, hemos trabajado incansablemente para asegurar que las presas sean seguras y estén en buen estado.

Nuestro equipo está formado por expertos en la gestión de presas y embalses, ingenieros y técnicos altamente cualificados. Trabajamos con las últimas tecnologías y herramientas para garantizar la seguridad de las presas y embalses en todo momento.

En nuestra página web encontrarás información detallada sobre cómo se gestionan las presas y embalses en Cuba, así como información sobre nuestra entidad y su historia. Si tienes alguna pregunta o necesitas más información, no dudes en ponerte en contacto con nosotros."
</h4> 
{% endblock %}